In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Pandas Review

This HW covers the concepts simple pandas concepts introduced in class using NBA Players Stats - 2014-2015 data
To find out more about the data follow the link: https://www.kaggle.com/drgilermo/nba-players-stats-20142015/version/1

## Load `players_stats.csv`

In [3]:
df=pd.read_csv("players_stats.csv")

## Explore the data in 3 different ways (using 3 different methods)
Hint: you want to use methods that show the size and shape of your dataframe

In [4]:
#Way 1
df.columns

Index(['Name', 'Games Played', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA',
       '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'EFF', 'AST/TOV', 'STL/TOV', 'Age', 'Birth_Place',
       'Birthdate', 'Collage', 'Experience', 'Height', 'Pos', 'Team', 'Weight',
       'BMI'],
      dtype='object')

In [5]:
#Way 2
df.head()

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384

In [6]:
#Way 3
df.tail()

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
485,Xavier Henry,9,86,20,3,13,23.1,0,0,0.0,...,24.0,be,"March 15, 1991",University of Kansas,4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,1902,778,286,677,42.2,57,167,34.1,...,20.0,us,"March 10, 1995","University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,454,932,48.7,7,20,35.0,...,34.0,us,"July 16, 1981",Michigan State University,13,202.5,PF,MEM,117.00,28.532236
488,Zaza Pachulia,73,1730,606,240,529,45.4,0,3,0.0,...,31.0,ge,"February 10, 1984",NaN,11,207.5,C,MIL,121.50,28.218900
489,Zoran Dragic,16,75,28,11,30,36.7,3,14,21.4,...,26.0,si,"June 22, 1989",NaN,R,192.5,SG,PHO,90.00,24.287401

In [7]:
#Way 4
df.shape

(490, 34)

In [8]:
#Way 5
df.dtypes

Name             object
Games Played      int64
MIN               int64
PTS               int64
FGM               int64
FGA               int64
FG%             float64
3PM               int64
3PA               int64
3P%             float64
FTM               int64
FTA               int64
FT%             float64
OREB              int64
DREB              int64
REB               int64
AST               int64
STL               int64
BLK               int64
TOV               int64
PF                int64
EFF               int64
AST/TOV         float64
STL/TOV         float64
Age             float64
Birth_Place      object
Birthdate        object
Collage          object
Experience       object
Height          float64
Pos              object
Team             object
Weight          float64
BMI             float64
dtype: object

## Introduction to Statistics 
#### Calculate the mean, mode and median of `MIN` and `PTS` fields

In [9]:
print(f"For the variable MIN - The mean is {df.MIN.describe()[1]:.2f}, the median is {df.MIN.describe()[5]:.2f}, and the modes are {df.MIN.mode()}.")

For the variable MIN - The mean is 1214.71, the median is 1193.00, and the modes are 0      23
1      43
2    2455
dtype: int64.

In [10]:
print(f"For the variable PTS - The mean is {df.PTS.describe()[1]:.2f}, the median is {df.PTS.describe()[5]:.2f}, and the mode is {df.PTS.mode().item():.2f}.")

For the variable PTS - The mean is 502.11, the median is 423.00, and the mode is 0.00.

#### From the description of the data find out what information is contained in the `MIN` and `PTS` fields

In [40]:
print(f"MIN shows the minutes played by each player, and PTS shows the points acquired by each player.")

MIN shows the minutes played by each player, and PTS shows the points acquired by each player.

### Compute the average number of minutes all the players spend on the field

In [69]:
df.MIN.mean()

1214.7142857142858

### Now compute the average number of minutes each team spends on the field

In [71]:
df.groupby(by="Team").MIN.mean()

Team
ATL    1358.466667
BOS    1450.875000
CHA    1321.500000
CHI    1420.071429
CLE    1195.583333
DAL    1414.666667
DEN    1231.272727
DET    1276.818182
GSW    1432.400000
HOU    1271.636364
IND    1376.066667
LAC    1258.285714
LAL    1136.937500
MEM    1392.142857
MIA     970.916667
MIL    1282.500000
MIN     964.375000
NJN    1165.461538
NOH    1345.062500
NYK    1197.312500
OKC    1346.600000
ORL    1317.000000
PHI     976.400000
PHO    1133.062500
POR    1374.312500
SAC    1168.307692
SAS    1254.062500
TOR    1264.214286
UTA    1071.750000
WAS    1127.125000
Name: MIN, dtype: float64

###  Why is it different? What is the right way to calculate the Average of averages?
Please use classwork as a reference
### Calculate the average number of minutes all teams spend on the field

In [89]:
series=[
df.groupby(by="Team").MIN.mean(),
df.groupby(by="Team").Name.count()
]

group_df=pd.concat(series, axis=1)
group_df.reset_index(inplace=True)

group_df.columns=["Team", "Mean_minutes", "Number_of_players"]

df.groupby(by="Team").Name.count()

group_df["x"]=group_df["Mean_minutes"]*group_df["Number_of_players"]

summation_x=group_df["x"].sum()

N=group_df["Number_of_players"].sum()

weighted_avg=summation_x/N

print(f"The weighted mean when is {weighted_avg}. This is different from the mean minutes of all the players because not all players have teams.")

print(f"If we compute the mean after dropping players without a team assignment, we will get the same mean as the weighted mean as demonstrated below:")

df[df["Team"].isna()==False].MIN.mean()

The weighted mean when is 1246.649289099526. This is different from the mean minutes of all the players because not all players have teams.
If we compute the mean after dropping players without a team assignment, we will get the same mean as the weighted mean as demonstrated below:

1246.649289099526

#### The End!