In [6]:
import pg8000
connection = pg8000.connect(database="postgres",user="postgres", password="postgress")
cursor=connection.cursor()

#### Question 1

In [22]:
q1=("SELECT country, quantity FROM unsolar WHERE year=2014 ORDER BY quantity DESC NULLS LAST LIMIT 15")
cursor.execute(q1)
cursor.fetchall()

(['Germany', Decimal('36056')],
 ['United States', Decimal('25764')],
 ['Japan', Decimal('22952')],
 ['Italy', Decimal('22306')],
 ['China', Decimal('15189')],
 ['Spain', Decimal('13673')],
 ['France', Decimal('5913')],
 ['India', Decimal('5020')],
 ['United Kingdom', Decimal('4054')],
 ['Australia', Decimal('4010')],
 ['Greece', Decimal('3792')],
 ['Belgium', Decimal('2883')],
 ['Korea, Republic of', Decimal('2557')],
 ['Czechia', Decimal('2123')],
 ['Canada', Decimal('2120')])

#### Question 2

In [10]:
q2=("SELECT country, round(avg (quantity)) average_production FROM unsolar GROUP BY country HAVING avg(quantity) >500 ORDER BY avg(quantity) DESC")
cursor.execute(q2)
cursor.fetchall()

(['China', Decimal('20251')],
 ['Germany', Decimal('8482')],
 ['India', Decimal('7018')],
 ['United States', Decimal('6254')],
 ['Japan', Decimal('5604')],
 ['Italy', Decimal('4508')],
 ['Spain', Decimal('3423')],
 ['South Africa', Decimal('1651')],
 ['France', Decimal('1439')],
 ['United Kingdom', Decimal('1431')],
 ['Greece', Decimal('1369')],
 ['Czechia', Decimal('1237')],
 ['Belgium', Decimal('1212')],
 ['Australia', Decimal('991')],
 ['Thailand', Decimal('884')],
 ['Bulgaria', Decimal('789')],
 ['Chile', Decimal('731')],
 ['Honduras', Decimal('649')],
 ['Korea, Republic of', Decimal('633')],
 ['Romania', Decimal('585')],
 ['Israel', Decimal('581')])

#### Question 3

In [11]:
q3=("SELECT country, min(year) first_year FROM unsolar GROUP BY country HAVING min(year)=2012 ORDER BY min(year) DESC")
cursor.execute(q3)
cursor.fetchall()

(["Lao People's Dem. Rep.", 2012],
 ['American Samoa', 2012],
 ['Venezuela (Bolivar. Rep.)', 2012],
 ['Gabon', 2012],
 ['Mauritius', 2012],
 ['United Arab Emirates', 2012],
 ['St. Kitts-Nevis', 2012],
 ['Marshall Islands', 2012],
 ['Botswana', 2012],
 ['South Sudan', 2012],
 ['Lithuania', 2012],
 ['Poland', 2012],
 ['St. Helena and Depend.', 2012])

#### Question 4

In [12]:
q4=("SELECT unsolar.country, unsolar.year, unsolar.quantity solar_production, unwind.quantity wind_production FROM unsolar JOIN unwind ON unsolar.country=unwind.country and unsolar.year=unwind.year WHERE unsolar.country='Germany' ORDER BY unsolar.year")
cursor.execute(q4)
cursor.fetchall()

(['Germany', 1991, Decimal('1'), Decimal('215')],
 ['Germany', 1992, Decimal('4'), Decimal('291')],
 ['Germany', 1993, Decimal('3'), Decimal('674')],
 ['Germany', 1994, Decimal('7'), Decimal('1428')],
 ['Germany', 1995, Decimal('7'), Decimal('1712')],
 ['Germany', 1996, Decimal('12'), Decimal('2078')],
 ['Germany', 1997, Decimal('18'), Decimal('3034')],
 ['Germany', 1998, Decimal('35'), Decimal('4593')],
 ['Germany', 1999, Decimal('30'), Decimal('5528')],
 ['Germany', 2000, Decimal('60'), Decimal('9352')],
 ['Germany', 2001, Decimal('116'), Decimal('10456')],
 ['Germany', 2002, Decimal('188'), Decimal('15856')],
 ['Germany', 2003, Decimal('313'), Decimal('18713')],
 ['Germany', 2004, Decimal('557'), Decimal('25509')],
 ['Germany', 2005, Decimal('1282'), Decimal('27229')],
 ['Germany', 2006, Decimal('2220'), Decimal('30710')],
 ['Germany', 2007, Decimal('3075'), Decimal('39713')],
 ['Germany', 2008, Decimal('4420'), Decimal('40574')],
 ['Germany', 2009, Decimal('6584'), Decimal('38647')],
 ['Germany', 2010, Decimal('11729'), Decimal('37793')],
 ['Germany', 2011, Decimal('19599'), Decimal('48883')],
 ['Germany', 2012, Decimal('26380'), Decimal('50670')],
 ['Germany', 2013, Decimal('31010'), Decimal('51708')],
 ['Germany', 2014, Decimal('36056'), Decimal('57357')],
 ['Germany', 2015, Decimal('38726'), Decimal('79206')],
 ['Germany', 2016, Decimal('38098'), Decimal('78598')])

#### Question 5

In [29]:
q5=("SELECT unsolar.country, round(avg(unsolar.quantity)) solar_production, round(avg (unwind.quantity)) wind_production FROM unsolar JOIN unwind ON unsolar.country=unwind.country and unsolar.year=unwind.year GROUP BY unsolar.country ORDER BY avg(unsolar.quantity) DESC LIMIT 10")
cursor.execute(q5)
cursor.fetchall()

(['China', Decimal('20251'), Decimal('125454')],
 ['Germany', Decimal('8482'), Decimal('26174')],
 ['India', Decimal('7018'), Decimal('31554')],
 ['United States', Decimal('6254'), Decimal('52771')],
 ['Japan', Decimal('5604'), Decimal('1906')],
 ['Italy', Decimal('4508'), Decimal('4556')],
 ['Spain', Decimal('3423'), Decimal('20006')],
 ['South Africa', Decimal('1651'), Decimal('1828')],
 ['France', Decimal('1439'), Decimal('5877')],
 ['United Kingdom', Decimal('1431'), Decimal('12232')])

#### Question 6

In [14]:
q6=("SELECT unsolar.country, round(avg(unsolar.quantity)) solar_production, round(avg (unwind.quantity)) wind_production FROM unsolar JOIN unwind ON unsolar.country=unwind.country and unsolar.year=unwind.year WHERE unsolar.year>2010 GROUP BY unsolar.country ORDER BY avg(unsolar.quantity) DESC LIMIT 10")
cursor.execute(q6)
cursor.fetchall()

(['Germany', Decimal('31645'), Decimal('61070')],
 ['China', Decimal('30279'), Decimal('180028')],
 ['United States', Decimal('23994'), Decimal('173141')],
 ['Japan', Decimal('22173'), Decimal('5242')],
 ['Italy', Decimal('19767'), Decimal('14312')],
 ['Spain', Decimal('12608'), Decimal('49713')],
 ['India', Decimal('7018'), Decimal('31554')],
 ['France', Decimal('5361'), Decimal('17149')],
 ['United Kingdom', Decimal('4272'), Decimal('28975')],
 ['Australia', Decimal('3739'), Decimal('9156')])

#### Question 7

In [15]:
q7=("SELECT unsolar.country, min(unsolar.year), max(unsolar.year) FROM unsolar GROUP BY unsolar.country ORDER BY min(unsolar.year), country LIMIT 15")
cursor.execute(q7)
cursor.fetchall()

(['Italy', 1990, 2016],
 ['Japan', 1990, 2016],
 ['Korea, Republic of', 1990, 2016],
 ['Mexico', 1990, 2016],
 ['Portugal', 1990, 2016],
 ['Spain', 1990, 2016],
 ['Switzerland', 1990, 2016],
 ['United States', 1990, 2016],
 ['Finland', 1991, 2016],
 ['Germany', 1991, 2016],
 ['Netherlands', 1991, 2016],
 ['Canada', 1992, 2016],
 ['Australia', 1993, 2016],
 ['Austria', 1993, 2016],
 ['Sweden', 1993, 2016])

#### Question 8

In [16]:
q8= ("WITH years AS (SELECT unsolar.country, min(unsolar.year) min_year, max(unsolar.year) max_year FROM unsolar GROUP BY unsolar.country ORDER BY min(unsolar.year), country LIMIT 15) SELECT years.country, years.min_year, tab1.quantity, years.max_year, tab2.quantity FROM years JOIN unsolar tab1 ON tab1.country=years.country and tab1.year=years.min_year JOIN unsolar tab2 ON tab2.country=years.country and tab2.year=years.max_year")
cursor.execute(q8)
cursor.fetchall()

(['Australia', 1993, Decimal('11'), 2016, Decimal('6209')],
 ['Austria', 1993, Decimal('1'), 2016, Decimal('1096')],
 ['Canada', 1992, Decimal('2'), 2016, Decimal('3031')],
 ['Finland', 1991, Decimal('1'), 2016, Decimal('17')],
 ['Germany', 1991, Decimal('1'), 2016, Decimal('38098')],
 ['Italy', 1990, Decimal('4'), 2016, Decimal('22104')],
 ['Japan', 1990, Decimal('67'), 2016, Decimal('50952')],
 ['Korea, Republic of', 1990, Decimal('1'), 2016, Decimal('5123')],
 ['Mexico', 1990, Decimal('1'), 2016, Decimal('252')],
 ['Netherlands', 1991, Decimal('1'), 2016, Decimal('1560')],
 ['Portugal', 1990, Decimal('1'), 2016, Decimal('822')],
 ['Spain', 1990, Decimal('6'), 2016, Decimal('13649')],
 ['Sweden', 1993, Decimal('1'), 2016, Decimal('143')],
 ['Switzerland', 1990, Decimal('1'), 2016, Decimal('1333')],
 ['United States', 1990, Decimal('666'), 2016, Decimal('50334')])

#### Question 9

In [22]:
cursor.execute("CREATE VIEW solwind AS (SELECT unsolar.country, round(avg(unsolar.quantity)) solar_production, round(avg (unwind.quantity)) wind_production FROM unsolar JOIN unwind ON unsolar.country=unwind.country and unsolar.year=unwind.year GROUP BY unsolar.country ORDER BY avg(unsolar.quantity) DESC LIMIT 10)")
cursor.execute("CREATE VIEW geo AS (SELECT country, round(avg(quantity)) geothermal_production FROM ungeothermal GROUP BY country ORDER BY avg(quantity) DESC LIMIT 10)")
q9=("SELECT solwind.country, solwind.solar_production, solwind.wind_production, geo.geothermal_production FROM solwind LEFT JOIN geo ON solwind.country=geo.country")
cursor.execute(q9)
cursor.fetchall()

(['China', Decimal('20251'), Decimal('125454'), None],
 ['Germany', Decimal('8482'), Decimal('26174'), None],
 ['India', Decimal('7018'), Decimal('31554'), None],
 ['United States', Decimal('6254'), Decimal('52771'), Decimal('16578')],
 ['Japan', Decimal('5604'), Decimal('1906'), Decimal('2851')],
 ['Italy', Decimal('4508'), Decimal('4556'), Decimal('4788')],
 ['Spain', Decimal('3423'), Decimal('20006'), None],
 ['South Africa', Decimal('1651'), Decimal('1828'), None],
 ['France', Decimal('1439'), Decimal('5877'), None],
 ['United Kingdom', Decimal('1431'), Decimal('12232'), None])

#### The End